/* style.css */

/* Header */
header {
  padding: 10px;
  background-color: #f8f9fa;
}


/* Navigation menu */

#navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-left: 10px;
}



/* Main content */
main {
  padding: 20px;
}

/* Footer */
footer {
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
}
