<!-- booking_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Booking List</h1>

  {% if user.is_authenticated %}
    <h3>Welcome, {{ user.username }}!</h3>

    {% if bookings %}
      <h2>Your Bookings:</h2>
      <ul>
        {% for booking in bookings %}
          <li>
            {{ booking.user }} - Table {{ booking.table }} - {{ booking.date }} - {{ booking.time }}

            <!-- Edit Button -->
            {% if user == booking.user %}
              <a href="{% url 'booking-update' booking.pk %}">Edit</a>
            {% endif %}

            <!-- Delete Button -->
            {% if user == booking.user %}
              <form method="POST" action="{% url 'booking-delete' booking.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No bookings found.</p>
    {% endif %}

  {% else %}
    <p>Please <a href="{% url 'account_login' %}">log in</a> to view your bookings.</p>
  {% endif %}
{% endblock %}
